services:
  hf-debug:
    image: nvcr.io/nvidia/pytorch:25.02-py3
    volumes:
      - .:/app/src
      - ~/models:/models
      - ~/.cache/huggingface:/root/.cache/huggingface
    environment:
      - CUDA_VISIBLE_DEVICES=0
      - HF_HOME=/root/.cache/huggingface
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    ipc: host
    shm_size: 64g
    working_dir: /app/src/tools/qwen3omni-tts
